PROJECT_NAME="RAG API"                                      # Name of project
COLLECTION_NAME="RAG DB"                                    # Name of the vector DB collection
BACKEND_CORS_ORIGINS="http://localhost,https://localhost"   # CORS settings (for frontend access)
API_KEY=""                                                  # API key for your main LLM (e.g., GPT-4o, Gemini)
API_EMBEDDED_KEY=""                                         # API key for embedding model (e.g., text-embedding-3-small, Cohembedding-gecko-001ere)